.detail-main {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.meal-img {
  height: 100%;
  width: 100%;
}

.description-div {
  max-width: 360px;
  padding: 5px;
}

.title-fav-share-div {

  /* border: 1px solid green; */
  display: flex;
  justify-content: space-between;
}

.share-fav-div {

  /* border: 1px solid red; */
  display: flex;
}

.share-fav-div button {
  border: none;
  border-radius: 10px;
  box-shadow: 2px 2px 4px 1px rgb(88, 88, 88);
  margin-left: 10px;
}

.share-fav-div button:hover {
  background-color: lightgray;
  box-shadow: 1px 1px 1px 1px white;
}

.category {
  color: #b4b4b4;
  font-size: 17px;
  margin-top: -7px;
}

.id {
  color: #b4b4b4;
  font-size: 12px;
  margin-bottom: 10px;
  margin-top: -5px;
}

.ingredients {
  background-color: #ececec;
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
  padding-top: 10px;
}

.instructions {
  background-color: #ececec;
  padding: 10px;
  text-align: justify;
}

.video {
  background-color: #ececec;
  height: 250px;
  padding: 10px;
  width: 350px;
}

.recommended {
  margin-top: 10px;
}

.carousel {
  margin-bottom: 100px;
}

.start-recipe-button {
  border: none;
  border-radius: 10px;
  bottom: 0;
  box-shadow: 0 0 5px 0 rgb(88, 88, 88);
  height: 80px;
  margin-bottom: 5px;
  position: fixed;
  width: 350px;
  z-index: 1000;
}
