.detail-main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img-div {
  /* border: 3px solid red; */
}

.meal-img {
  height: 100%;
  width: 100%;
}

.description-div {
  padding: 5px;
  max-width: 360px;
}

.title {
}

.title-fav-share-div {
  /* border: 1px solid green; */
  display: flex;
  justify-content: space-between;
}

.share-fav-div {
  /* border: 1px solid red; */
  display: flex;
}

.share-fav-div button {
  margin-left: 10px;
  border: none;
  border-radius: 10px;
  box-shadow: 2px 2px 4px 1px rgb(88, 88, 88);
}

.share-fav-div button:hover {
  background-color: rgb(211, 211, 211);
  box-shadow: 1px 1px 1px 1px white;
}

.category {
  margin-top: -7px;
  color: #b4b4b4;
  font-size: 17px;
}

.id {
  margin-top: -5px;
  margin-bottom: 10px;
  color: #b4b4b4;
  font-size: 12px;
}

.ingredients {
  background-color: #ececec;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  justify-content: center;
}

.instructions {
  background-color: #ececec;
  padding: 10px;
  text-align: justify;
}

.video {
  padding: 10px;
  background-color: #ececec;
  width: 350px;
  height: 250px;
}

.recommended {
  margin-top: 10px;
}

.carousel {
  margin-bottom: 100px;
}

.start-recipe-button {
  bottom: 0;
  position: fixed;
  margin-bottom: 5px;
  z-index: 1000;
  width: 350px;
  height: 80px;
  border: none;
  border-radius: 10px;
  box-shadow: 0px 0px 5px 0px rgb(88, 88, 88);
}
