.profile-container {
  width: 100%;
}

.profile-header {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.profile-container h3 {
  margin-top: 20px;
  text-align: center;
}

.profile-header button {
  background-color: rgba(7, 219, 177, 0.5);
  border: none;
  border-radius: 5px;
  color: black;
  font-size: 2rem;
  margin: 20px;
  padding: 10px;
  width: 200px;
}
