/*
  https://www.freepik.com/free-photo/wooden-plank-textured-background-material_2992159.htm#page=1&query=wood%20background&position=4&from_view=keyword
  https://www.freepik.com/free-photo/table-top-with-background_1167379.htm#page=1&query=food%20pattern&position=25&from_view=search
*/

header {
  align-items: center;
  background-size: cover;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.5);
  color: white;
  display: flex;
  flex-direction: row;
  font-weight: 900;
  height: 60px;
  justify-content: space-between;
  padding: 10px;
  position: relative;
  z-index: 1;
}

header h2 {
  border-top: solid white;
  font-size: 6vw;
  margin-top: 10px;
  vertical-align: middle;
}

header img {
  filter: invert(1);
}

.meal-colors {
  background: linear-gradient(145deg, var(--food-red) 0%, var(--food-orange) 100%);
}

.cocktail-colors {
  background: linear-gradient(145deg, var(--food-blue) 0%, var(--food-purple) 100%);
}

.generic-colors {
  background-color: var(--food-generic);
}

.header img {
  filter: invert(1);
}

.search-btn {
  background: none;
  border: none;
}

.searchBar-container {
  align-items: center;
  background: url('./searchbar-texture.jpg') no-repeat;
  background-position: bottom;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  z-index: 0;
}

.searchBar {
  padding: 10px;
}

.searchBar > input {
  border: none;
  border-radius: 15px;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.5);
  padding: 5px;
  width: 50vw;
}

.searchBar-btn {
  background-color: #2c3e50;
  border: none;
  border-radius: 10px;
  color: white;
  margin-left: 10px;
  padding: 5px 10px;
}

.searchBar-btn:hover {
  background-color: white;
  color: #d35400;
}

.searchBar-radios {
  display: flex;
  list-style: none;
}

.searchBar-radios li {
  border-radius: 5px;
  color: white;
  font-family: sans-serif;
  font-size: 15px;
  margin: 5px;
  text-align: center;
  text-transform: capitalize;
}

.searchBar-radios input {
  display: block;
}

.searchBar-radios label {
  cursor: pointer;
  height: 100%;
  padding: 10px;
  width: 100%;
}

.searchBar-radios > li:nth-child( 1 ) {
  background-color: #27ae60;
}

.searchBar-radios > li:nth-child( 2 ) {
  background-color: #2980b9;
}

.searchBar-radios > li:nth-child( 3 ) {
  background-color: #3498db;
}

.ghost-div {
  height: 30px;
  width: 30px;
}
