.explore-main {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 125px);
  justify-content: space-evenly;
  width: 100vw;
}

.explore-main a {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.icon {
  height: 64px;
  width: 64px;
}

.explore-main button {

  /* flex: 1; */
  background-color: rgba(244, 162, 89, 0);
  border: 0;
  font-weight: 900;
  margin: 10px;
}

.origin-dropdown {
  margin: 10px 0;
  text-align: center;
  width: 100%;
}

.origin-dropdown select {
  width: 90%;
}
