/* Login Styling */
.login {
  align-items: center;
  background-image: linear-gradient(90deg, var(--l-b) 100%, var(--l-b2) 100%) , url('../../images/login_bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  display: flex;
  flex-direction: column;
  font-family: Verdana , Geneva , Tahoma , sans-serif;
  font-size: 12px;
  font-style: italic;
  font-weight: 900;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}

.login label input {
  align-self: center;
  border: none;
  border-radius: 10px;
  color: black;
  display: block;
  font-weight: 900;
  margin: 5px;
  max-width: 180px;
  padding: 5px;
}

.login label {
  line-height: 20px;
  text-align: center;
}

.login button {
  background-color: var(--food-blue);
  border: none;
  border-radius: 15px;
  color: black;
  font-weight: 900;
  margin-top: 5px;
  padding: 5px 20px;
}

.login button:disabled {
  background-color: gray;
  color: white;
  display: none;
}

.login-footer {
  align-items: center;
  bottom: 10px;
  display: flex;
  flex-direction: row;
  position: fixed;
}

.login-footer a {
  color: white;
  font-size: 18px;
}

.login .teamLogo {
  width: 48px;
}

/* .login-border {
  background-color: rgba(53, 59, 72, 0.3);
  width: fit-content;
} */
