footer {
  bottom: 0;
  left: 0;
  padding: 10px;
  position: fixed;
  width: 100%;
}

.foot-config {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* .recommended-div {

  border: 1px solid red;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
}

.scrollmenu {
  background-color: white;
  overflow: auto;
  width: 310px;
}

.scrollmenu li {
  color: white;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

.scrollmenu li:hover {
  background-color: whitesmoke;
} */
