.recipe-head-container img {
  width: 200px;
}

.recipe-head-container {
  display: flex;
  flex-direction: column;
}

.recipe-title {
  display: flex;
  justify-content: space-between;
}

.recipe-ingredients {
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  height: 30vh;
  overflow-x: hidden;
  overflow-y: scroll;
  width: 100vw;
}

#shareBtn-InProgress img {
  margin-right: 5px;
  width: 25px;
}

#favoriteBtn-InProgress img {
  margin-left: 5px;
  width: 25px;
}
